body {
  margin: 0;
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin :0;
  margin-bottom: .5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

select.form-control {
  margin-left: .8rem;
  width: 7rem;
}